

@charset "UTF-8";

body {
    margin: 0;
    background: #7993BE;
    width:1000px;
}
#line{
    padding: 10px 20px;
    font-family: sans-serif;
    font-size:40px;
}

.img-icon {
    width: 100px;
    border-radius: 50%;
}

.pokuru {
    clear: both;
    background-size: 40px auto;
    font-size:40px;
}

.spanokuru {
    display: inline-block;
    max-width: 70%;
    margin-left: 30px;
    padding: 16px 30px;
    vertical-align: top;
    background: #fff;
    border-radius: 40px;
}

.prep {
    text-align: right;
    font-size:20px;
    
}
.spanrep {
    display: inline-block;
    max-width: 70%;
    padding: 16px 30px;
    vertical-align: top;
    background: #85ff49;
    border-radius: 40px;
    text-align: left;
}
