

@charset "UTF-8";

body {
    margin: 0;
    background: #7993BE;
    width:1100px;
}
#line{
    padding: 10px 20px;
    font-family: sans-serif;
    font-size:40px;
}

.img-icon {
    width: 100px;
    border-radius: 50%;
}

.pokuru {
    font-size:40px;
}

.spanokuru {
    display: inline-block;
    margin-left: 5px;
    padding: 16px 30px;
    vertical-align: top;
    background: #fff;
    border-radius: 40px;
}

.prep {
    font-size:30px;
    
}
.spanrep {
    display: inline-block;
    background: #85ff49;
    margin-left: 5px;
    padding: 16px 30px;
    vertical-align: top;
    border-radius: 40px;

}
